.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navBar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.Sbar {
    width: 30%;
    margin-right: 0%;
}

span {
    font-weight: 700;
}

.link {
    color: white;
}

.ContainerNavBar {
    background-color: #109fa6c2;
    width: 100%;
}

.navBarDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* justify-content: center; */
}

.footerInfo {
    line-height: .5;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media(max-width: 768px) {
    .container {
        width: 768px;
    }
    .navBarDiv {
        display: flex;
        flex-direction: column;
        height: 80px;
    }
    .ContainerNavBar {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
}

.link:hover {
    color: #3CA6A6;
}