.card {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2a3142;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
}

.card .text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #ffffff;
  padding: 20px;
  flex: 1.5;
}

.card .top {
  flex: 1;
}

.card img {
  min-height: 280px;
  max-height: 280px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

/* .card .text button{
    display:flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #2E1E43;
    color:#ffffff;
    border: none ;
} */

.card .text span {
  color: #5ffafc;
}

.card .text button {
  border: none;
  color: #fff;
  /* background-color: #2eccce; */
  background-color: #ea1f48;
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media screen and (max-width: 720px) {
  .card img {
    height: 250px;
  }
}
