.container {
    width: 1200px;
    margin: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 15px;
}

.footer span {
    font-weight: 700;
}

.footerBg {
    background-color: #0d787e9d;
}

.footerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerInfo {
    line-height: .5;
}

.footerLink a {
    color: white;
}

.logoGit {
    width: 40px;
    height: auto;
}