.search{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px
}

.search input{
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
}

