.Home__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 900px;
}

.NavBar {
    z-index: 1000;
}

.Cards {
    z-index: 500;
    /* Ajusta según sea necesario */
}

.Footer {
    z-index: 1000;
    /* Asegúrate de que esté en el mismo nivel que el navbar */
}